client_addr = "0.0.0.0"
datacenter = "{{ datacenter }}"
data_dir = "{{ consul_data_dir }}"
encrypt = "{{ hostvars[groups['consul-leader'][0]].encr_key.stdout }}"
retry_join = ["{{ hostvars[groups['consul-server'][0]].ip_leader }}"]
performance {
    raft_multiplier = {{ raft_mul }}
}

